<a href="https://colab.research.google.com/github/ChronicScimitar/ChronicScimitar/blob/main/Akash's_1st_Practise_Session.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Question : Find the Square of the given number.**

In [ ]:
def find_square(number):           #By using def func
    square = number ** 2
    return square
result = find_square(5)
print(f"The square of {5} is: {result}")

The square of 5 is: 25

In [ ]:
# Get user input for the number                      #By not using def function
input_number = int(input("Enter a number: "))

# Calculate the square of the input number
square = input_number ** 2

# Display the result
print(f"The square of {input_number} is: {square}")

Enter a number: 5
The square of 5 is: 25

In [ ]:
# Get user input for the number                     #By using f string and float
input_number = float(input("Enter a number: "))

# Calculate the square of the input number
square = input_number ** 2

# Display the result without using f-string
print("The square of", input_number, "is:", square)

Enter a number: 5
The square of 5.0 is: 25.0

In [ ]:
number = int(input("Enter a number: "))               #shortest way
print("Square :", number ** 2)

Enter a number: 5
Square : 25

In [ ]:
n = int(input("Enter a Number"))                    #shortest and understandable way
sq = n*n
print(sq)

Enter a Number5
25

In [ ]:
n = int(input("Enter a Number: "))
sq = n**2
print(f"The square of {n} is {sq}")

Enter a Number: 5
The square of 5 is 25

**Question : Find the difference between two numbers **

In [ ]:
def diff():
  a=int(input("Enter the first value"))
  b=int(input("Enter the second value"))
  c=a-b
  print(f"The difference between {a} and {b} is : {c} ")
diff()

Enter the first value5
Enter the second value2
The difference between 5 and 2 is : 3

In [ ]:
def diff():
  a=int(input("Enter the first value"))
  b=int(input("Enter the second value"))
  c=a-b
  return c

x=diff()
print(x)

Enter the first value5
Enter the second value2
3

In [ ]:
def diff():
  a=int(input("Enter the first value "))
  b=int(input("Enter the second value "))
  c=a-b
  print("The difference between", a , "and" , b , "is -" ,c)
diff()

Enter the first value 5
Enter the second value 2
The difference between 5 and 2 is - 3

In [ ]:
# Get user input for the two numbers
number1 = int(input("Enter the first number: "))
number2 = int(input("Enter the second number: "))

# Calculate the difference
difference = number1 - number2

# Display the result
print(f"The difference between {number1} and {number2} is: {difference}")

Enter the first number: 5
Enter the second number: 2
The difference between 5 and 2 is: 3

In [ ]:
difference = float(input("Enter the first number: ")) - float(input("Enter the second number: "))
print("Difference:", difference)

Enter the first number: 10
Enter the second number: 4
Difference: 6.0

Question : Find the Sum of Two Numbers

In [ ]:
addition = int(input("First Number :")) + int(input("Second Number :"))
print ("Sum =" ,addition)

First Number :5
Second Number :2
Sum = 7

In [ ]:

add = int(input("First Number :")) + int(input("Second Number :"))
print ("Sum =" ,add)

First Number :10
Second Number :20
Sum = 30

In [ ]:
# Get user input for the two numbers
number1 = int(input("Enter the first number: "))
number2 = int(input("Enter the second number: "))

# Calculate the sum
Sum = number1 + number2

# Display the result
print(f"The addition of {number1} and {number2} is: {Sum}")

Enter the first number: 5
Enter the second number: 10
The addition of 5 and 10 is: 15

In [ ]:
def sum():
  a=int(input("Enter the first value"))
  b=int(input("Enter the second value"))
  c=a+b
  print(f"The sum of {a} and {b} is : {c} ")
sum()

Enter the first value5
Enter the second value2
The sum of 5 and 2 is : 7

In [ ]:

def sum(a,b):
  c = a+b
  print(f" {a} + {b} = {c} ")
sum(55,3)

 55 + 3 = 58

**Question : Whether a number is Positive , Negetive or Zero**

In [ ]:
number = float(input("Enter a number: "))
result = "Positive" if number > 0 else "Negative" if number < 0 else "Zero"
print(f"The number is {result}.")

Enter a number: 0
The number is Zero.

In [ ]:
number = float(input("Enter a number: "))

if number > 0:
    print("The number is Positive.")
elif number < 0:
    print("The number is Negative.")
else:
    print("The number is Zero.")

Enter a number: 5
The number is Positive.

In [ ]:
number = float(input("Enter a number: "))

if number > 0:
    print("The number is Positive.")
if number < 0:
    print("The number is Negative.")
if number == 0:
    print("The number is Zero.")

Enter a number: 0
The number is Zero.

**Question : Find a factorial of a number.**

In [80]:
n = int(input("Enter a number :"))

factorial = 1

for i in range(1,n+1):
  factorial = factorial * i
print(factorial)

Enter a number :5
120

In [91]:
def factorial(n):
  return 1 if n == 0 or n == 1 else n*factorial(n-1)
  result = factorial(n)
  print(result)

In [89]:
factorial(2)

2

In [84]:
factorial(3)

6

In [85]:
factorial(4)

24

Pyramid Pattern

In [93]:
N = int(input("Enter the length of the pyramid: "))

for i in range(1, N + 1):
    spaces = " " * (N - i)
    stars = "*" * (2 * i - 1)
    print(spaces + stars)

Enter the length of the pyramid: 4
   *
  ***
 *****
*******

In [94]:
N = int(input("Enter the length of the pyramid: "))

for i in range(N):
    for j in range(N - i - 1):
        print(" ", end="")
    for k in range(2 * i + 1):
        print("*", end="")
    print()

Enter the length of the pyramid: 4
   *
  ***
 *****
*******

Diamond Pattern

In [97]:
N = int(input("Enter the length of the diamond: "))

# Upper part of the diamond
for i in range(1, N + 1):
    spaces = " " * (N - i)
    stars = "*" * (2 * i - 1)
    print(spaces + stars)

# Lower part of the diamond
for i in range(N - 1, 0, -1):
    spaces = " " * (N - i)
    stars = "*" * (2 * i - 1)
    print(spaces + stars)

Enter the length of the diamond: 3
  *
 ***
*****
 ***
  *

In [98]:
N = 7

# Upper part of the diamond
for i in range(1, N + 1):
    spaces = " " * (N - i)
    stars = "*" * (2 * i - 1)
    print(spaces + stars)

# Lower part of the diamond
for i in range(N - 1, 0, -1):
    spaces = " " * (N - i)
    stars = "*" * (2 * i - 1)
    print(spaces + stars)

      *
     ***
    *****
   *******
  *********
 ***********
*************
 ***********
  *********
   *******
    *****
     ***
      *

In [99]:
N = 7

# Upper part of the diamond
for i in range(1, N // 2 + 2):
    spaces = " " * (N // 2 + 1 - i)
    stars = "*" * (2 * i - 1)
    print(spaces + stars)

# Lower part of the diamond
for i in range(N // 2, 0, -1):
    spaces = " " * (N // 2 + 1 - i)
    stars = "*" * (2 * i - 1)
    print(spaces + stars)

   *
  ***
 *****
*******
 *****
  ***
   *

In [101]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

print("Even numbers:", even_numbers)

Even numbers: [2, 4, 6, 8, 10]

OOPS HANDSON

In [106]:
class Car:
  def __init__(self,make,model):
    self.make = make
    self.model = model
ob = Car("Tata" , "Nano")
print(ob.make , ob.model)

Tata Nano

In [107]:
class Car:
    def __init__(self, make, model):
        self.make = make
        self.model = model
        self.engine_started = False

    def start(self):
        if not self.engine_started:
            print("Engine Started")
            self.engine_started = True
        else:
            print("Engine is already running")

    def stop(self):
        if self.engine_started:
            print("Engine Stopped")
            self.engine_started = False
        else:
            print("Engine is already stopped")

# Creating a Car object
my_car = Car("Toyota", "Camry")

# Starting and stopping the engine
my_car.start()
my_car.stop()
my_car.start()

Engine Started
Engine Stopped
Engine Started